@font-face {
  font-family: 'handwriting';
  src: url('handwriting-regular-webfont.woff2') format('woff2'),
    url('handwriting-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handwriting';
  src: url('handwriting-bold-webfont.woff2') format('woff2'),
    url('handwriting-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'handwriting';
  src: url('handwriting-italic-webfont.woff2') format('woff2'),
    url('handwriting-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'handwriting';
  src: url('handwriting-bolditalic-webfont.woff2') format('woff2'),
    url('handwriting-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.handwriting {
  font-family: 'handwriting', Arial, sans-serif;
}
